In [1]:
# Import dependencies

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
# Read the data from the csv file

CONDUCTIVITY_DATA = '../data/RB1_ConDL_6_9_2023_AH.csv'
con_data = pd.read_csv(CONDUCTIVITY_DATA)
con_data.head()

,#,"Date Time, GMT-04:00",LowRange,HighRange,temp,Coupler Detached (LGR S/N: 20636185),Coupler Attached (LGR S/N: 20636185)
0,1,06/02/23 10:00:00 AM,0.0,0.0,24.38,Logged,NaN
1,2,06/02/23 10:10:00 AM,0.0,0.0,24.84,NaN,NaN
2,3,06/02/23 10:20:00 AM,0.0,0.0,25.20,NaN,NaN
3,4,06/02/23 10:30:00 AM,0.0,0.0,26.51,NaN,NaN
4,5,06/02/23 10:40:00 AM,0.0,0.0,26.41,NaN,NaN

In [8]:
# Filter the data to get the desired rows and columns
# Note: negative number in the end index means that the index is counted from the end of the data
# e.g. -1 means the last row or column
row_start = 8
row_end = -2
col_start = 1
col_end = -2


def filter_data(con_data, row_start, row_end, col_start, col_end):
    # Adjust for 1-indexing if end indices are positive
    row_start -= 1 if row_start > 0 else 0
    col_start -= 1 if col_start > 0 else 0

    # Get the data
    con_data = con_data.iloc[row_start:row_end, col_start:col_end]
    return con_data

con_data = filter_data(con_data, row_start, row_end, col_start, col_end)
con_data.head()


# Note: Re-running this cell will overwrite the data in the csv file and keep filtering the data, 
# a good practice is to only run it after running the previous cell and reading the original file again

     #  Date Time, GMT-04:00  LowRange  HighRange   temp
7    8  06/02/23 11:10:00 AM   33594.4    30064.6  22.22
8    9  06/02/23 11:20:00 AM   33594.4    30697.7  21.81
9   10  06/02/23 11:30:00 AM   33594.4    30687.6  21.70
10  11  06/02/23 11:40:00 AM   33594.4    30685.1  21.73
11  12  06/02/23 11:50:00 AM   33594.4    30712.8  21.73